
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; 
    padding: 20px;
}


.card {
    width: 20rem;
    height: 30rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card-img-top {
    width: 70%;
    height: 250px;
    /* object-fit: cover;  */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}
.card-text {
    color: #777;
    font-size: 1rem;
}


